<p>i'm <a class="link" href="https://twitter.com/doeg" target="_blank">@doeg</a></p>
<p>i don't use github anymore, but i do
<a class="link" href="https://github.com/doeg" target="_blank">have one</a>.</p>
