<p class="padding-soft-v">
  i'm <a class="link" href="https://twitter.com/doeg" target="_blank">@doeg</a>
</p>

<p class="padding-soft-v">
  you can find code that i've written on 
  <a class="link" href="https://github.com/doeg" target="_blank">github</a>
  and <a class="link" href="http://codepen.io/doeg" target="_blank">codepen</a>.
</p>
