<!DOCTYPE html>
<html>
  <head>
    <title>doeg {{# title}}| {{.}}{{/ title}}</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/pocketgrid.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="favicon.ico" rel="icon" type="image/x-icon" />
    <script src="js/cursor.js" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="container">
      <div class="tldr">

        <h1 class="hello">
          <a href="/" class="link">hello</a>
        </h1>

        <h3 class="link name"><a href="/">i'm sara/doeg</a></h3>
        <div class="about">
          plant/puppy elemental. currently freelance code/design, previously an engineer at
          <a class="link" href="https://plot.ly" target="_blank">plotly</a> and
          <a class="link" href="https://twitter.com" target="_blank">twitter</a>. i like to draw. she/her.
        </div>

        <ul class="links">
          {{# nav_links }}
            <li>
              <a class="nav link" href="{{href}}" {{# new_tab}}target="_blank"{{/ new_tab}}>
                {{label}}
              </a>
            </li>
          {{/ nav_links}}
        </ul>
      </div>
      <div class="content">
        {{{ content }}}
      </div>
    </div>
  </body>
</html>
