<h2>Projects</h2>

<div class="p">
  <table class="projects">
    <thead>
      <tr><th class="date"></th><th></th></tr>
    </thead>
    <tbody>
      <tr>
        <td>2018.03</td>
        <td>
          <a class="link" href="https://github.com/doeg/gb-spaceflight" target="_blank">spaceflight</a>,
          a Game Boy game forged in z80 assembly, for fun
        </td>
      </tr>   
      
      <tr>
        <td>2018.03</td>
        <td>
          <a class="link" href="https://github.com/doeg/gbz80-tools" target="_blank">gbz80-tools</a>,
          tooling to make and export sprites + other pixel art for z80 game boy homebrew
        </td>
      </tr>   
      
      <tr>
        <td>2018.03</td>
        <td>
          <a class="link" href="https://github.com/doeg/gb-experiments" target="_blank">gb-experiments</a>,
          adventures in z80 assembly
        </td>
      </tr>      
      
      <tr>
        <td>2016.04</td>
        <td>
          <a class="link" href="https://github.com/doeg/plantokei" target="_blank">plantokei</a>,
          microcontrollers + plants + tamagotchi 
        </td>
      </tr>      
      
      <tr>
        <td>2015.09</td>
        <td>
          <a class="link" href="http://tomb.zone" target="_blank">tomb.zone</a>,
          an ascii tombstone generator
        </td>
      </tr>

      <tr>
        <td>2014.01</td>
        <td>
          <a class="link" href="https://twitter.com/paranoiabot" target="_blank">@paranoiabot</a>,
          a twitter bot created during a rewatch of the x-files. its data is from several
          paranormal-related usenet newsgroups.
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h2>Contributor to</h2>
<div class="p">
  <p><a class="link" href="https://blocktogether.org/">Block Together</a>, collaborative blocking to mitigate abuse on Twitter.</p>
</div>
