<h2>Projects</h2>

<div class="p">
  <table class="projects">
    <thead>
      <tr><th class="date"></th><th></th></tr>
    </thead>
    <tbody>

      <tr>
        <td>2015.11</td>
        <td>
          <a class="link" href="http://doggedly.co/" target="_blank">Doggedly Creative Co.</a>
          🔮 (coming soon!)
        </td>
      </tr>
      
      <tr>
        <td>2015.09</td>
        <td>
          <a class="link" href="http://twitter.com/tinydnd" target="_blank">@tinydnd</a>,
          a VERY BETA adventure bot
        </td>
      </tr>

      <tr>
        <td>2015.09</td>
        <td>
          <a class="link" href="http://tomb.zone" target="_blank">tomb.zone</a>,
          an ascii tombstone generator
        </td>
      </tr>

      <tr>
        <td>2015.05</td>
        <td>
          <a class="link" href="https://plant.ly" target="_blank">plantly</a>,
          a place to keep track of and show off your cute houseplants. 🌿 (currently
          a secret!)
        </td>
      </tr>

      <tr>
        <td>2015.01</td>
        <td>
          <a class="link" href="https://twitter.com/dungeon_party" target="_blank">@dungeon_party</a>,
          a twitter bot that mashes up Craigslist personals ads &amp;
          the D&D player's handbook.
        </td>
      </tr>

      <tr>
        <td>2015.01</td>
        <td>
          a <a class="link" href="https://binaryparadox.net" target="_blank">website</a>
          for <a class="link" href="https://twitter.com/cpu">@cpu</a>.
        </td>
      </tr>

      <tr>
        <td>2014.01</td>
        <td>
          <a class="link" href="https://twitter.com/paranoiabot" target="_blank">@paranoiabot</a>,
          a twitter bot created during a rewatch of the x-files. its data is from several
          paranormal-related usenet newsgroups.
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h2>Contributor to</h2>
<div class="p">
  <p><a class="link" href="https://blocktogether.org/">Block Together</a>, collaborative blocking to mitigate abuse on Twitter.</p>
</div>
