.container {
  /*width: 80vw;*/
  margin: 0 auto;
  padding: 10vw;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  line-height: 1.3;
  color: #333;
}

body h1 {
  font-size: 1.8em;
}

.about {
  font-size: 0.85em;
  color: #999;
}

ul.links {
  margin-top: 1.5em;
  margin-left: -5px;
}

ul.links li {
  list-style-type: none;
  display: inline-block;
  font-size: 0.9em;
}

ul.links li:after {
  content: '/';
  color: #CCC;
}

ul.links li:last-of-type:after {
    content:''
}

a.link {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #0CC459;
  text-decoration: none;
}

a.link:after {
  content: '';
  display: block;
  margin: auto;
  height: 1px;
  width: 0px;
  background: transparent;
  transition: width .3s ease, background-color .3s ease;
}

a.link:hover:after {
  width: 100%;
  background: #ACDA91;
}

.nav.link {
  margin: 0 5px;
  padding: 10px 0;
  color: #1DB504;
}

.content {
  padding: 3em;
  color: #777;
  font-size: 0.8em;
}

.projects td {
  padding: 8px 0;
}

.projects th.date {
  width: 60px;
}

body {
  overflow: hidden;
}

h2 {
  font-size: 0.9rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.p {
  padding-left: 20px;
}

.name a,
.name a:visited {
    color: #333;
    text-decoration: none;
    transition: color 0.2s ease;
}

.name a:hover {
    color: #45B504;
}

