<p class="padding-soft-v">
  i'm <a class="link" href="https://twitter.com/doeg" target="_blank">@doeg</a>.
  my PGP fingerprint is <a href="https://keybase.io/doeg" target="_blank" class="link">
  6837 CC2C 13FB 1649 8076 3831 20F2 38A5 E9BB B344</a>.
</p>

<p class="padding-soft-v">
  you can find code that i've written on
  <a class="link" href="https://github.com/doeg" target="_blank">github</a>
  and <a class="link" href="http://codepen.io/doeg" target="_blank">codepen</a>.
</p>
